/*Below is the footer styles */
footer {
    position: relative;
    background-color: $background-colour;
    left: 8%;
    max-width: 92%;
    max-height: 12.5%;
    margin: 0% 0%;
    padding: 0%;
    bottom: 0;
    p {
        text-align: right;
        font-size: 80%;
        margin: 0% 0%;
        padding: 0%;
        
    }
    a {
        left: 0%;
        max-width: 80%;
        position: relative;
        left: 0%;
        margin-left: 0%;
        width: 30%;
    }
    h4{
        position: relative;
        max-width: 15%;
        left: 0%;
        margin-left: 0%;
        width: 30%;
    }

}
