/*Below is the header styles */
header {
    position: relative;
    min-width: 100%;
    border-bottom: 2px solid $black;
    background-color: #1f1f1f;
    height: 9%;

    .topnav {
        bottom: 1%;
        position: absolute;
        right: 0px;
        a {
            padding-right: 10px;
            font-size: 1vw 1vh;
        }
    }

    .dropbtn {
        position: absolute;
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }

    #logo {
        padding-top: .5%;
        top: 0%;
        left: 10%;
        margin: 0% 0% 0% 0%;
        position: relative;
        min-width: 20%;
        max-width: 20%;
        h1 {
            display:inline-block;
            color: #eee;
            position: relative;
            margin-bottom: 5%;
            margin-top: 0%;
            max-width: 40%;
            text-align: center;
            
        }

        a {
            max-width: 20%;
            margin-bottom: 5%;
        }
        a img {
            position: relative;

            min-width: 20%;
            max-width: 20%;
            height: 80%;
        }
    }
}
