/*Below is the sidebar styles */
aside {
    text-align: center;
    position: relative;
    float: left;
    min-width: 10%;
    max-width: 20%;
    height: 100%;
    background-color: #1e1e1e;
    font-size: 2vh 2vw;

    nav {
        ul {
            position: relative;
            margin-left: 1%;
            padding-left: 0;
            li {
                size: 100%;
                list-style-type: none;
                left: 0%;
                padding-bottom: 0.5em;
            }
        }
    }
    h2{
        color: #eee;
    }
}
ul {
    position: relative;
    margin: 0%;
}
