$murkygreen: #93B32E;
$lightblue: #98C2FF;
$red: red;
$lightgreen: rgb(33, 124, 33);
$blue: rgb(104, 132, 204);
$black: #111;
$background-colour: #eee;
$buy_button: #60f14a;
$edit_button: #9180cf;
$delete_button: #f14a4a;
$buy_button_hover: #389c28;
$edit_button_hover: #695aa1;
$delete_button_hover: #bb3737;
$border: white;
$orange: rgb(247, 112, 35);