/*Below is the fonts styles */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
body {
  font-family: "Inconsolata", monospace;
}

body h2 {
  font-size: 120%;
  margin: 0;
  padding: .25em 0 .5em;
  color: #333;
}

/*Below is the footer styles */
footer {
  position: relative;
  background-color: #eee;
  left: 8%;
  max-width: 92%;
  max-height: 12.5%;
  margin: 0% 0%;
  padding: 0%;
  bottom: 0;
}

footer p {
  text-align: right;
  font-size: 80%;
  margin: 0% 0%;
  padding: 0%;
}

footer a {
  left: 0%;
  max-width: 80%;
  position: relative;
  left: 0%;
  margin-left: 0%;
  width: 30%;
}

footer h4 {
  position: relative;
  max-width: 15%;
  left: 0%;
  margin-left: 0%;
  width: 30%;
}

/* Below is the body styles */
body {
  position: relative;
  width: 100%;
  left: 0%;
  background-color: #ffffff;
  margin: 0% 0%;
  min-height: 50%;
  overflow: hidden;
}

body ul {
  margin: 0 0 1em 0;
  padding: 0 0 0 2.5em;
  text-decoration: none;
}

body li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body a {
  color: #6646a1;
  font-weight: bold;
  text-decoration: none;
  font-size: 100%;
}

body a:hover {
  color: #402b6b;
}

body .user {
  color: #6884cc;
  font-weight: bold;
  text-decoration: none;
  font-size: .8vw 1vh;
}

body h1 {
  position: relative;
  width: 40%;
  color: #eee;
}

body section {
  position: relative;
  max-width: 87.5%;
  min-height: 100%;
  left: 15%;
}

body section h2 {
  font-size: 2.5vh;
}

body section table {
  position: relative;
  border: 1px solid #111;
  min-width: 60vw;
  min-height: 80vh;
}

body section table td,
body section table th {
  border: solid 1px #111;
  text-align: center;
  min-height: 10%;
  max-height: 10%;
  background-color: #b6b6b6;
}

body section table td {
  min-height: 10%;
  max-height: 10%;
  font-size: 100%;
  background-color: #e5e5e5;
}

body section table th {
  max-height: 5%;
  font-size: 5vh;
}

body section table #add_website {
  color: crimson;
}

body section table tr {
  height: 5%;
}

.container {
  top: 10%;
  width: 100%;
  min-height: 100%;
}

.content {
  position: relative;
  margin-top: 5%;
  left: 10%;
}

form {
  position: relative;
  top: 0%;
}

br {
  clear: left;
}

.last_paragraph {
  margin-bottom: 2em;
}

.margin_top_increase {
  margin-top: 1em;
}

#add_record_form {
  position: relative;
  top: 0%;
  margin: 0.5em 0 1em;
}

#add_record_form label {
  width: 6em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  float: left;
  margin-right: 10px;
}

#add_record_form input {
  width: 15em;
}

#buy_button {
  position: relative;
  text-decoration: underline;
  width: 10%;
  height: 27.5px;
  border-radius: 15px;
  border: white;
  background-color: #60f14a;
}

#buy_button:hover {
  background-color: #389c28;
}

#edit_button {
  position: relative;
  text-decoration: underline;
  width: 10%;
  height: 27.5px;
  border-radius: 15px;
  border: white;
  width: 50%;
  vertical-align: middle;
  background-color: #9180cf;
}

#edit_button:hover {
  background-color: #695aa1;
}

#delete_button {
  position: relative;
  text-decoration: underline;
  width: 10%;
  height: 27.5px;
  border-radius: 15px;
  border: white;
  width: 50%;
  background-color: #f14a4a;
}

#delete_button:hover {
  background-color: #bb3737;
}

#name {
  position: absolute;
  top: 0%;
  right: 2.5%;
  color: #f77023;
}

/*Below is the header styles */
header {
  position: relative;
  min-width: 100%;
  border-bottom: 2px solid #111;
  background-color: #1f1f1f;
  height: 9%;
}

header .topnav {
  bottom: 1%;
  position: absolute;
  right: 0px;
}

header .topnav a {
  padding-right: 10px;
  font-size: 1vw 1vh;
}

header .dropbtn {
  position: absolute;
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

header #logo {
  padding-top: .5%;
  top: 0%;
  left: 10%;
  margin: 0% 0% 0% 0%;
  position: relative;
  min-width: 20%;
  max-width: 20%;
}

header #logo h1 {
  display: inline-block;
  color: #eee;
  position: relative;
  margin-bottom: 5%;
  margin-top: 0%;
  max-width: 40%;
  text-align: center;
}

header #logo a {
  max-width: 20%;
  margin-bottom: 5%;
}

header #logo a img {
  position: relative;
  min-width: 20%;
  max-width: 20%;
  height: 80%;
}

/*Below is the sidebar styles */
aside {
  text-align: center;
  position: relative;
  float: left;
  min-width: 10%;
  max-width: 20%;
  height: 100%;
  background-color: #1e1e1e;
  font-size: 2vh 2vw;
}

aside nav ul {
  position: relative;
  margin-left: 1%;
  padding-left: 0;
}

aside nav ul li {
  size: 100%;
  list-style-type: none;
  left: 0%;
  padding-bottom: 0.5em;
}

aside h2 {
  color: #eee;
}

ul {
  position: relative;
  margin: 0%;
}
/*# sourceMappingURL=main.css.map */